@charset "UTF-8";
/*すべての要素に適用*/
*{
    box-sizing: border-box;
}
/*bodyの設定*/
body{
    position: relative;
    margin:0;
    background: black;
    display:grid;
    grid-template-columns: [left]20px[main]1fr[end]20px[right];
    grid-template-rows: [header]auto[main]auto[aside]auto[footer]auto[bottom];
}

header{
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: header;
    grid-row-end: main;
    margin-bottom:100px;
}

header img{
    display:block;
    width:100%;
    max-height:100vh;
}

.top-title{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,-10%);
    width:500px;
    height:500px;
    background:rgba(255,255,255,.5);
    font-size: 50px;
}

/*メディアクエリ*/
@media(max-width:1024px){
    .top-title{
        width: 400px;
        height:400px;
        font-size: 40px;
        transform: translate(-50%,-10%);
    }
}

@media(max-width:840px){
    .top-title{
        width: 300px;
        height:300px;
        font-size: 35px;
        transform: translate(-50%,-10%);
    }
}

@media(max-width:580px){
    header{
        margin-bottom: 60px;
    }
    .top-title{
        width:250px;
        height:250px;
        transform: translate(-50%,-10%);
    }
}

@media(max-width:450px){
    .top-title{
        width:200px;
        height:200px;
        font-size: 30px;
        transform: translate(-50%,-10%);
    }
}

nav{
    position: absolute;
    top:0;
    left:0;
    right:0;
}

nav ul{
    display: flex;
    color:white;
    background: black;
    margin:0;
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

nav li{
    text-align: center;
    padding: 10px 0;
    width: 90px;
    cursor: pointer;
    transition: all 1s;
}

nav li:hover{
    color: black;
    background: white;
}

/*メニューの表示*/
nav.open{
    display:block;
}

/*メディアクエリ*/
@media(max-width:840px){
    nav{
        position:fixed;
        display: none;
    }
    nav ul{
        flex-direction: column;
        height:50vh;
        padding-top:40px;
        background: rgba(255,255,255,.9);
    }
    nav li{
        width: 100%;
        padding:20px;
    }
}

/*メニューボタン*/
.menubutoon{
    position:fixed;
    top:0;
    left:0;
    cursor: pointer;
    z-index:100;
    width:40px;
    height: 40px;
    padding:5px;
    background: black;
    display: none;
}

.menubutoon i{
    display: block;
    width: 30px;
    height:5px;
    background: white;
    margin-bottom:7.5px;
}

.menubutoon i:last-child{
    margin-bottom: 0;
}

/*メディアクエリ*/
@media(max-width:840px){
    .menubutoon{
        display:block;
    }
}