@charset "UTF-8";
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*bodyの設定*/
body{
    position: relative;
    margin:0;
    background-color: white;
    display:grid;
    grid-template-columns: [left]1fr[main]1500px[end]1fr[right];
    grid-template-rows: [header]auto[nav]auto[main]auto[aside]auto[footer]auto[bottom];
}

header{
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: header;
    grid-row-end: nav;
}

header img{
    display:block;
    width:100%;
    max-height:100vh;
    filter:opacity(50%);
    z-index: 20;
}

.top-title{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,-500%);
    width:100%;
    max-height:100vh;
    color: aqua;
    background:rgba(242, 130, 232, 0.5);
    -webkit-text-stroke: 0.5px white;
    font-size: 50px;
    padding:5px;
    z-index: 21;
}

/*メディアクエリ*/
@media(max-width:1024px){
    .top-title{
        width: 100%;
        height:auto;
        font-size: 40px;
        transform: translate(-50%,-520%);
    }
}

@media(max-width:840px){
    .top-title{
        width: 100%;
        height:auto;
        font-size: 35px;
        transform: translate(-50%,-540%);
    }
}

@media(max-width:580px){
    .top-title{
        width:100%;
        height:auto;
        transform: translate(-50%,-580%);
    }
}

@media(max-width:450px){
    .top-title{
        width:100%;
        height:auto;
        font-size: 30px;
        transform: translate(-50%,-580%);
    }
}

nav{
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: nav;
    grid-row-end: main;
}

nav ul{
    display: flex;
    color:rgba(217, 238, 217, 0.936);
    background: black;
    margin:0;
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

nav a{
    color:inherit;
    text-decoration: none;
}

nav li{
    text-align: center;
    padding: 10px 0;
    width:380px;
    cursor: pointer;
    transition: all .3s;
}

nav li:hover{
    color: black;
    background: white;
}



main{
    position: relative;
    grid-column-start: main;
    grid-column-end: end;
    grid-row-start: main;
    grid-row-end: aside;
    background: rgba(167, 249, 245, 0.5);
    margin-top: 10px;
}

.introduce{
    width:100%;
    max-width:1400px;
    margin:2em auto;
}

.introduce h2{
    font-size: 24px;
    border-bottom:dashed 10px #cd1919;
}

aside{
    grid-column-start:main;
    grid-column-end:end;
    grid-row-start:aside;
    grid-row-end:footer;
}

aside h2{
    text-align: center;
}

.news{
    max-width: 1000px;
    height:400px;
    border-top:dashed 1px #201394;
    border-bottom:dashed 1px #201394;
    margin:2em auto;
    padding:1em 20px;
    color:black;
    overflow: scroll;
}

.news .topic{
    display:flex;
    align-items:center;
    padding:10px;
    margin:1em 0;
    border-left:solid 10px #3997cd;
}

.news .time{
    margin-right: 1em;
}

footer{
    grid-column-start:left;
    grid-column-end:right;
    grid-row-start:footer;
    grid-row-end:bottom;
    text-align:center;
    color:white;
    background:black;
    padding:10px 0;
}