@charset "UTF-8";
*{
    box-sizing: border-box;
}

/*bodyの設定*/
body{
    position: relative;
    margin:0;
    background: white;
    display:grid;
    grid-template-columns: [left]1fr[main]1500px[end]1fr[right];
    grid-template-rows: [header]auto[main]auto[aside]auto[footer]auto[bottom];
}

header{
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: header;
    grid-row-end: main;
    margin-bottom:100px;
}

header img{
    display:block;
    width:100%;
    max-height:100vh;
    filter:opacity(50%);
    z-index: 1;
}

.top-title{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,-500%);
    width:100%;
    max-height:100vh;
    color: aqua;
    background:rgba(242, 130, 232, 0.5);
    font-size: 50px;
    padding:5px;
    z-index: 2;
}

/*メディアクエリ*/
@media(max-width:1024px){
    .top-title{
        width: 100%;
        height:auto;
        font-size: 40px;
        transform: translate(-50%,-500%);
    }
}

@media(max-width:840px){
    .top-title{
        width: 100%;
        height:auto;
        font-size: 35px;
        transform: translate(-50%,-300%);
    }
}

@media(max-width:580px){
    header{
        margin-bottom: 60px;
    }
    .top-title{
        width:100%;
        height:auto;
        transform: translate(-50%,-200%);
    }
}

@media(max-width:450px){
    .top-title{
        width:100%;
        height:auto;
        font-size: 30px;
        transform: translate(-50%,-100%);
    }
}

